<html data-ng-app="demoApp">
  <head>
    <title>Star Wars</title>
    <style>
      .searching {
        margin-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div searching class="searching">
      <input data-ng-model="search" placeholder="Search">
      <button data-ng-click="doSearch(search)">Search</button>
      <a href="/#!/res/planets/1" data-ng-click="search=''">Clear</a><br>
    </div>
    <data-ng-view>Loading...</data-ng-view>
    
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="dotSpace.starWars.min.js"></script>
    <script>
      (function() {
        angular.module('demoApp', ['dotSpace.starWars', 'ngRoute'])

        .config(router)
          router.$inject = ['$routeProvider']

          function router($routeProvider) {
            $routeProvider
            .when('/res/:resource', {
              redirectTo: '/res/:resource/1'
            })
            .when('/res/:resource/:page', {
              templateUrl: 'parts/resource-part.html',
              controller: 'resourceController as resource'
            })
            .when('/res/:resource/search/:searchString', {
              redirectTo: '/res/:resource/search/:searchString/1'
            })
            .when('/res/:resource/search/:searchString/:page', {
              templateUrl: 'parts/resource-part.html',
              controller: 'resourceController as resource'
            })
            .otherwise({redirectTo:'/res/planets'})
          }
      })();
      
      (function() {
        angular.module('demoApp')
        .directive('searching', searching)
        
        searching.$inject = ['$location', '$routeParams']
        
        function searching($location, $routeParams) {
          let directive = {
            link: link,
            restrict: 'A'
          }
          return directive

          function link(scope, element, attrs) {
            scope.doSearch = doSearch
            
            function doSearch(searchString) {
              const searchRegEx = /^[\d\w\s]{1,15}$/i
              if (angular.isDefined($routeParams.resource) && searchRegEx.test(searchString)) {
                const res = $routeParams.resource
                const searchURL = `/res/${res}/search/${searchString}/1`
                $location.path(searchURL)
              }
            }
          }  
        }
      })();

      (function() {
        angular.module('demoApp')
        .controller('resourceController', resourceController)
          resourceController.$inject = ['swapiService', '$routeParams']
          
          function resourceController (swapiService, $routeParams) {
            const vm = this
            vm.resource = $routeParams.resource
            let options = {}
            let searchPath = ''

            if (angular.isDefined($routeParams.searchString)) {
              options = angular.extend({}, options, {searchString:$routeParams.searchString})
              searchPath = `search/${$routeParams.searchString}/`
            }

            if (angular.isDefined($routeParams.page)) {
              vm.page = Number($routeParams.page)
              options = angular.extend({}, options, {page:vm.page})
              vm.next = `/#!/res/${vm.resource}/${searchPath}${vm.page+1}`
              vm.previous = `/#!/res/${vm.resource}/${searchPath}${vm.page-1}`
            }

            swapiService.get(vm.resource, options)
            .then(resource => {vm.data = resource})
            .catch(err => {
              if (angular.isDefined(err.status)) { // ugh
                window.alert('Error connecting to API')
              } else {
                window.alert(err)
              }
            })
          }
      })();
    </script>
  </body>
</html>